@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply px-8 sm:px-12 md:px-16 lg:px-0 max-w-7xl mx-auto overflow-hidden;
  }

  .typo-h1 {
    @apply font-bold text-5xl md:text-7xl;
  }

  .typo-h2 {
    @apply font-bold text-4xl md:text-5xl;
  }

  .typo-sub {
    @apply text-lg font-normal md:text-2xl opacity-60;
  }

  .hover-effect {
    @apply hover:-translate-y-1 transform;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.slick-track {
  display: flex !important;
  align-items: stretch;
}

.slick-slide {
  height: inherit !important;
  display: flex;
  align-items: stretch;
  position: relative;
}
.slick-slide div {
  height: 100%;
}
